.container {
  display: grid;
  grid-template-rows: min-content auto;
  width: 350px;
  height: 100%;

  .content {
    overflow-y: auto;

    :global(.card) {
      border-top-color: rgb(247, 247, 247);
      border-radius: 0px;
    }

    :global(.card-header) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    :global(.list-group-item) {
      border-radius: 0 !important;
    }
  }
}

.activeNavLink {
  background-color: rgb(247, 247, 247) !important;
  border-bottom-color: rgb(247, 247, 247) !important;
}
