$K_PANEL_WIDTH: 350px;

.container {
  position: relative;
  display: grid;
  grid-template-rows: min-content auto;
  height: 100%;
  width: $K_PANEL_WIDTH;
  transition: all 0.25s;

  .content {
    overflow-y: auto;

    :global(.card) {
      border-top-color: rgb(247, 247, 247);
      border-radius: 0px;
    }

    :global(.card-header) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    :global(.list-group-item) {
      border-radius: 0 !important;
    }
  }

  .collapseToggle {
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 0;
    transform: translate(95%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: none;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    svg {
      width: 0.5rem;
    }
  }
}

.closed {
  margin-left: -$K_PANEL_WIDTH;
}

.activeNavLink {
  background-color: rgb(247, 247, 247) !important;
  border-bottom-color: rgb(247, 247, 247) !important;
}
