.container {
  display: grid;
  grid-template-rows: min-content auto;

  .form {
    padding: 1.1rem;
  }

  .results {
    display: flex;
  }
}

.travelModeButton {
  cursor: pointer;
  border-radius: 38px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: lightblue;
}
