.card {
  height: 100%;

  .header {
    display: flex;
    align-items: center;

    .title {
      flex-grow: 1;
    }

    .button {
      width: 42px;

      .icon {
        width: 1rem;
      }
    }
  }
}
